<% content_for(:navbar) do %>
  <li><a href="/">Home</a></li>
  <li><%= link_to @division.name, division_path(@division) %></li>
<% end %>

<div class="jumbotron">
  <h1><%= @division.name %></h1>
</div>

<h1>Add a new employee:</h1>

<%= render "layouts/errors", :object => @employee %>

<%= form_for @employee, :url => division_employees_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
